body{
    margin:0px
    }
    .barra {
        font-family: 'Lato', sans-serif;
        /**Alto y ancho de donde se va a activar cuando pase el mouse**/
        width:10%;
        height:9%;
        /*Para que este siempre en la misma parte de la pantalla aunque se haga scroll*/
        position:fixed;
        /*Tiempo en el que va a transitar la animacion*/
        transition: .4s all ;
        /*este arriba de todo en la pantalla*/
        z-index: 1;  
    }
    
    .barra ul{
        /*solucionar espacios no deseados*/
        padding:0px;
        text-align: center;
            
    }
    .barra  li{
        /*Velocidad de transicion del contenido*/
        transition:all .3s;
        list-style: none; 
    }
    
    .barra a{
        text-decoration: none;
        
        font-weight: normal;
        
        /*La letra crece con el menu de esta manera no se va a ver como se ajusta al margen mientras crece*/
        transition: .3s all ;
        /*Se ocultan los elementos*/
        font-size: 0px;
        padding:0px;
    }
    
    .barra  h2{
        text-align: center;
        color:white;
        padding:7px;
        padding-bottom:7px;
    
        /*Se oculta el h2*/
        font-size:0px;   
    }
    
    .barra img{
        padding-top: 30px;
        padding-left: 10px;
    }
    
    .barra:hover{
        /*Tamaño cuando el cursor señale la barra*/
        width: 70%;
        height: 100vh;
        
        /*Color*/
        background: rgba(5, 33, 51, 0.98);
    }
    .barra:hover h2{
        /*posicion dentro de barra del h2*/
        padding:15px;
        font-size: 35px;
    }
    .barra:hover a{ 
        font-size:20px ;
        color:white;
        /*Se usa el display block para que el enlace respete el margin*/
        display: block;
        padding:20px;
    }
    .barra:hover img{
        /*Desaparecer la imagen*/
        height:0px;
    }
    
    
    .barra:hover li{
        border-top:1px solid #03121b;
        /*Espacios entre las lineas y el contenido*/
        
        width:100%;
            
    }
    .barra:hover ul:last-of-type{
    
    
        border-bottom: 1px solid #03121b;
    }
    
    .barra:hover a:hover{ 
        font-size: 25px;
        padding: 30px 0px; 
        background: rgba(23, 78, 112, 0.98);  
    }
    
    @media (min-width: 768px){
        .barra:hover{
        width: 45%;
        }
    }