
<div class="navbar-item has-dropdown ">
                        
    <a class="navbar-link is-arrowless">
        Nivel 1
    </a>              

    <div class="navbar-dropdown py-0  
        is-hidden 
        has-background-black-ter">

        <a class="navbar-item"
        href="javascript:void(0);"
        id="m1e1"
        >
        subnivel 1
        </a>      

        <a class="navbar-item">
        subnivel 2
        </a>

        <a class="navbar-item">
        subnivel 3
        </a>
    </div>

</div>



<div class="navbar-item has-dropdown">

    <a class="navbar-link is-arrowless">
        Nivel 2
    </a>                
    <div class="navbar-dropdown py-0 
        is-hidden
        has-background-black-ter">
        <a class="navbar-item">
        subnivel 1
        </a>
        <a class="navbar-item">
        subnivel 2
        </a>
        <a class="navbar-item">
        subnivel 3
        </a>                      
    </div>
</div>   


