



:root { 

    --primary        : #1d5f3c;    
    --primary-text   : white;
    --primary-hover  : #247749;

    /*--primary    : #006064;*/



    --link    : hsl(217, 71%, 53%);        
    --link    : #1F3C5C;
    --link-text  : white;
       

    --danger       : #b71c1c;
    --danger-text  : white;    

}




.menu-list a {  
  color: var(--primary-text);
}


.navbar-link.is-active {
  background-color:  var(--link);
  color: white;
}


a.navbar-item:hover {
  /*background-color:  #0a0a0a ;*/
  color: var(--link);
}


/*
.input:focus  {  
  border-color: hsl(171, 100%, 41%);
}
*/



.navbar.is-primary {  
  background-color: var(--primary);
  color: var(--primary-text );
}


.hero.is-primary {
  background-color: var(--primary);
  color: var(--primary-text );
}

/*buton*/

.button.is-primary {
  background-color: var(--primary);
  color: var(--primary-text );  
}

.button.is-primary:hover {
  background-color: var(--primary);
  color: var(--primary-text );
  /*background-color: cornflowerblue; */
  background-color: var(--primary-hover); ;
  opacity:0.8;
}



.button.is-link {
  background-color: var(--link);  
  color: var(--link-text );
}
.button.is-link:hover {
  background-color: var(--link); 
  color: var(--link-text );
  opacity:0.8;
}
.button.is-link.is-outlined {
  border-color: var(--link);
  color: var(--link);
}
.button.is-link.is-outlined:hover {  
  color: var(--primary-text );  
  background-color: var(--link); ;
  /*opacity:0.8;*/
}

.button.is-info:hover {
  opacity:0.8;
}



.has-background-primary {
  background-color:  var(--primary) !important;
}



.notification.is-danger {
  background-color: var(--danger );
  color: var(--danger-text );
}

.notification.is-danger {
  background-color: var(--danger );
  color: var(--danger-text );
}


