
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400;500;700;800;900&display=swap');






*{  
    font-family: 'Open Sans', sans-serif;
    font-family: 'Rubik', sans-serif;    
    font-family: 'Heebo', sans-serif;
 }
 
.is-family-primary {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Rubik', sans-serif;
    font-family: 'Heebo', sans-serif;
  }

.is-family-sans-serif {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Rubik', sans-serif;
    font-family: 'Heebo', sans-serif;
}


body,
button,
input,
optgroup,
select,
textarea {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Rubik', sans-serif;
    font-family: 'Heebo', sans-serif;
}


/**/

:root {

    --primary    : #8A4D76;
    /*--primary    : #006064;*/
    
}






#wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-self: stretch;
  height: auto;  
  justify-content: space-between;
}
  
#main {
  padding: 0rem;  
}


/*
.lds-dual-ring:after {
  border-color: #fff transparent #fff transparent;
  border-color: #8A4D76 transparent ;
}
*/



.slidein {
  animation-duration: 3s;
  animation-name: slidein;
  animation-iteration-count: 1;
  animation-direction: normal;
}

@keyframes slidein {
  from {
    margin-left:0%;
    width:0%;
  }
  to {
    margin-left:100%;
    width:100px
  }
}



.pruebamov {
  /*width: 120px;    */
  animation: pruebamov 1s ;
}

@keyframes pruebamov {
  30% {width: 0%;}
}




html {
  height:100%;
  font-size: 0.84rem;
}



.mh1 {
  min-height: 100%;   
}




.navbar-item, .navbar-link {
  color: #c7c1c5;
  padding: 0.3rem 0.3rem;  
}



.navbar-dropdown {
  font-size: inherit;
}

/*
.navbar-link.is-active {
  background-color: hsl(217, 71%, 53%);
  color: white;
}
*/

.dropdown.is-right .dropdown-menu { 
  right: -4px;
}

.dropdown-content{
  padding: 1px;
}

.menu-list a {
  border-radius: 0px;
}


.label {  
  font-weight:500;
}


.notification {
  border-radius: 0px;
}

