.lds-dual-ring {
    display: inline-block;
    width: 80px;
    height: 80px;
  }
  .lds-dual-ring:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;    
    border-radius: 50%;
    border: 10px solid #fff;
    border-color: #fff transparent #fff transparent;
    animation: lds-dual-ring 1.2s linear infinite;
  }
  @keyframes lds-dual-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }


  
  .spiner{

    display: flex;
    
    align-items: center;
    justify-content: center;    

    height: 100px;

    /*
    width: 100%;
    height: 100vh;
    
    justify-content: center;
    align-items: center;
    position: fixed;
    top:0;
    left:0;
    z-index: 100000;
      */  
        
    
}
