


<section class="section">
    

    <h5 class="title is-5">Usuario</h5>



    <form                                
        action="#"
        name="form_usuario"
        id="form_usuario"
        >



        <div class="linea columns is-multiline">
            <div class="column is-4 campo">
                <div class="field">                    
                <div class="field-label is-normal">
                    <label class="label has-text-left">Codigo</label>
                </div>       
                <div class="field-body">
                    <div class="field">                            
                        <input type="text" 
                            class="input" 
                            name="codigo" 
                            id="usuario_codigo">
                    </div>
                </div>    
                </div>    
            </div>  
        </div>  




        <div class="linea columns is-multiline">
            <div class="column is-4 campo">
                <div class="field">                    
                <div class="field-label is-normal">
                    <label class="label has-text-left">Clave</label>
                </div>       
                <div class="field-body">
                    <div class="field">                            
                        <input type="password" 
                            class="input" 
                            name="clave" 
                            id="usuario_clave">
                    </div>
                </div>    
                </div>    
            </div>  
        </div>  





        <div class="level is-mobile">

            <div class="level-left">

                <div class="level-item">
                  <a class="button is-link"
                  id="usuario_guardar"
                    >Guardar</a>
                </div>


                <div class="level-item">
                    <a class="button is-info is-outlined"
                    id="usuario_cancelar"
                      >Cancelar</a>
                </div>
                

            </div>
    
        </div>
                





    </form>







</section>



