


<section class="section">
    

    <h5 class="title is-5">Usuarios</h5>


    <div class="level is-mobile">

        <div class="level-left">
            <div class="level-item">
              <a class="button is-link"
              id="usuario_agregar"
                >Agregar</a>
            </div>
        </div>

    </div>
    



    <table class="table" id="table_usuario">

        <thead>
            <tr>
                <th>Codigo</th>
                <th>Nombre</th>
            </tr>
        </thead>

        <tbody id="tbody_usuario">
        </tbody>

        <tfoot>
            <tr>
            </tr>
        </tfoot>

    </table>



</section>



