


<section class="section">

    <h5 class="title is-5">Usuarios</h5>


    <div class="level is-mobile">


        <div class="level-left">

            <div class="level-item">
              <a class="button is-info">Agregar</a>
            </div>

        </div>

    </div>
    





    <table class="table">

        <thead>
            <tr>
                <th>Codigo</th>
                <th>Nombre</th>
            </tr>
        </thead>



        <tbody>

            <tr>        
                <td>ELIZABETHA</td>
                <td>Acosta de Ayala, Maria Elizabeth</td>        
            </tr>

            <tr>        
                <td>ADOLFOC</td>
                <td>ADOLFO CABRERA - 1472</td>        
            </tr>

            <tr>        
                <td>ADOLFOB</td>
                <td>ADOLFO IANN BENITEZ AQUINO</td>        
            </tr>

        </tbody>



        <tfoot>
            <tr>
            </tr>
        </tfoot>


    </table>

</section>



